* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
}

:root {
    --very-light-gray:#C7C7C7;
    --text-input-field: #F7F7F7;
    --hospital-green: #ACD982;
    --very-light-blue:#bad7f1;
    --dark-blue: #252C5A;
    --white: #FFFFFF;
    --black: #000000;
    --ss: 1.2rem;
    --sm: 1.4rem;
    --md: 1.5rem;
    --lg: 1.8rem;
}

main {
    width: 100%;
    padding-bottom: 5rem;
}

p, ul {
    font-size: var(--sm);
    line-height: 2rem;
}











